<ion-view>
    <ion-nav-bar class="bar-balanced has-tabs-top green">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-title>
            Add
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content>
        <div>
            <div class="list">
                <label class="item item-input options-label">
                    Primary
                </label>
                <label class="item item-input">
                    <span class="input-label">
                        Model
                    </span>
                    <input ng-model="mobile.model" placeholder="Samsung s6" type="text">
                    </input>
                </label>
                <label class="item item-input">
                    <span class="input-label">
                        Manufacture Year
                    </span>
                    <input ng-model="mobile.year" placeholder="2015" type="text">
                    </input>
                </label>
                <label class="item item-input">
                    <span class="input-label">
                        Brand
                    </span>
                    <select ng-model="mobile.brand">
                        <option value="Nokia">
                            Nokia
                        </option>
                        <option value="Samsung">
                            Samsung
                        </option>
                        <option value="Apple">
                            Apple
                        </option>
                        <option value="Sony">
                            Sony
                        </option>
                        <option value="LG">
                            LG
                        </option>
                    </select>
                </label>
                <label class="item item-input">
                    <span class="input-label">
                        Memory
                    </span>
                    <select ng-model="mobile.memory">
                        <option value="16GB">
                            16GB
                        </option>
                        <option value="32GB">
                            32GB
                        </option>
                        <option value="64GB">
                            64GB
                        </option>
                        <option value="128GB">
                            128GB
                        </option>
                    </select>
                </label>
                <label class="item item-input options-label">
                    Options
                </label>
                <ion-list>
                    <ion-checkbox ng-model="mobile.options.dual">
                        Dual Sim
                    </ion-checkbox>
                    <ion-checkbox ng-model="mobile.options.nfc">
                        NFC
                    </ion-checkbox>
                    <ion-checkbox ng-model="mobile.options.fg">
                        4G
                    </ion-checkbox>
                </ion-list>
                <label class="item item-input options-label">
                    Screen
                </label>
                <ion-list>
                    <ion-radio name="group1" ng-model="mobile.screen" ng-value="4">
                        4"
                    </ion-radio>
                    <ion-radio name="group1" ng-model="mobile.screen" ng-value="5">
                        5"
                    </ion-radio>
                    <ion-radio name="group1" ng-model="mobile.screen" ng-value="6">
                        6"
                    </ion-radio>
                </ion-list>
                 <label class="item item-input options-label">
                    Color
                </label>
                <ion-list>
                    <ion-radio name="group2" ng-model="mobile.color" ng-value="white">
                        white
                    </ion-radio>
                    <ion-radio name="group2" ng-model="mobile.color" ng-value="black">
                        black
                    </ion-radio>
                    <ion-radio name="group2" ng-model="mobile.color" ng-value="gold">
                        gold
                    </ion-radio>
                </ion-list>
					
                <button class="button button-full button-assertive button-clear" ng-click="addNewItem()">
                    Add Item
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
