<ion-view>
    <ion-nav-bar class="bar-dark has-tabs-top green">
        <ion-nav-title>
            Home
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-small button-clear" ng-click="addNewMobile()">
                Add Mobile
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="home-page">
        <div class="list list-inset transparent">
            <label class="item item-input transparent">
                <i class="icon ion-search placeholder-icon">
                </i>
                <input ng-model="searchValue" placeholder="Search" type="text">
                </input>
            </label>
            <label class="item item-input item-select transparent">
                <div class="input-label">
                    <p>Brand</p>
                </div>
                <select class="transparent" ng-model="chosenBrand">
                    <option value="">
                        --
                    </option>
                    <option value="Nokia">
                        Nokia
                    </option>
                    <option selected="" value="Samsung">
                        Samsung
                    </option>
                    <option value="Apple">
                        Apple
                    </option>
                    <option value="Sony">
                        Sony
                    </option>
                </select>
            </label>
        </div>
        <div class="models-table">
            <div class="row header">
                <div class="col table-colmun">
                    <h5>
                        Brand
                    </h5>
                </div>
                <div class="col table-colmun">
                    <h5>
                        Model
                    </h5>
                </div>
                <div class="col table-colmun">
                    <h5>
                        Year
                    </h5>
                </div>
            </div>
            <div class="row" ng-class="{'selected':$index == selectedRow}" ng-click="selectItem(mobile, $index)" ng-repeat="mobile in $parent.filterdMobiles = (mobilesArray |filter:chosenBrand|filter:searchValue) track by $index">
                <div class="col table-colmun">
                    {{mobile.brand}}
                </div>
                <div class="col table-colmun">
                    {{mobile.model}}
                </div>
                <div class="col table-colmun">
                    {{mobile.year}}
                </div>
            </div>
           <p ng-hide="$parent.filterdMobiles.length">There is no result</p>
              <label> Number of filtered mobiles: {{$parent.filterdMobiles.length}} </label>
           <!--  <button ng-click="seeFilterd()">see filterd</button> -->

        </div>
        <div class="card" ng-show="itemIsChosen">
            <div class="item item-text-wrap">
               <p> {{selectedMobile.brand+" "+selectedMobile.model}} </p>
                <p>Dual Sim: {{selectedMobile.options.dual == true ?'Yes':'No'}}, 4G: {{selectedMobile.options.fg == true ?'Yes':'No'}}, NFC: {{selectedMobile.options.nfc == true ?'Yes':'No'}}</p>
                <p>Screen size: {{selectedMobile.screen}} inch</p>
                <p>Storage: {{selectedMobile.memory}} inch</p>
                <p>Color: {{selectedMobile.color}}</p>
            </div>
        </div>

        <div class="donut-chart">
            <nvd3 options="donut.options" data="donut.data"></nvd3>
        </div>

        <div class="bar-chart">
            <nvd3 options="bar.options" data="bar.data"></nvd3>
         </div>

    </ion-content>
</ion-view>
