<ion-view>
    <ion-nav-bar class="bar-balanced has-tabs-top green">
        <ion-nav-title>
            Home
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-small button-clear" ng-click="addNewMobile()">
                Add Mobile
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon">
                </i>
                <input ng-model="searchValue" placeholder="Search" type="text">
                </input>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    brand
                </div>
                <select ng-model="chosenBrand">
                    <option value="">
                        --
                    </option>
                    <option value="Nokia">
                        Nokia
                    </option>
                    <option selected="" value="Samsung">
                        Samsung
                    </option>
                    <option value="Apple">
                        Apple
                    </option>
                    <option value="Sony">
                        Sony
                    </option>
                </select>
            </label>
        </div>
        <div class="models-table">
            <div class="row header">
                <div class="col table-colmun">
                    <h5>
                        Brand
                    </h5>
                </div>
                <div class="col table-colmun">
                    <h5>
                        Model
                    </h5>
                </div>
                <div class="col table-colmun">
                    <h5>
                        Year
                    </h5>
                </div>
            </div>
            <div class="row" ng-class="{'selected':$index == selectedRow}" ng-click="selectItem(mobile, $index)" ng-repeat="mobile in mobilesArray |filter:chosenBrand|filter:searchValue">
                <div class="col table-colmun">
                    {{mobile.brand}}
                </div>
                <div class="col table-colmun">
                    {{mobile.model}}
                </div>
                <div class="col table-colmun">
                    {{mobile.year}}
                </div>
            </div>
        </div>
        <div class="card" ng-show="itemIsChosen">
            <div class="item item-text-wrap">
                {{selectedMobile.info}}
            </div>
        </div>
        

    </ion-content>
</ion-view>
